# Python
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Ambiente virtual
.env
.venv/
venv/


# Dados locais
data/
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Sistema
.DS_Store
Thumbs.db

# Render
render.yaml